
{% extends 'kateweb/main-layout.html' %}
{% load static %}
<!-- {% load i18n %} -->
{% block header %}
<div class="container-fluid main-view d-flex align-items-end" id='container_home'>
    <a class="navbar-brand align-self-start a-logo" href="{% url 'home' %}">
      <img src="{% static 'kateweb/img/kf.png' %}" alt="logo"  class="logo">
    </a>
  <header class="align-items-end " id='header_home'>
  <nav class="navbar navbar-expand-lg navbar-dark navigation text-dark" id="navbar">
    <div class="container">
      <!-- <p class="logo-desc">{% trans 'KateFriday Photographer' %}</p> -->
      <p class="logo-desc mb-0"><a href="{% url 'home' %}" class="logo-desc-a">KateFriday Photographer</a></p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end align-self-end" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark menu-btn" href="{% url 'process' %}">Process
              <svg class="svg1">
                <rect class="rect1"></rect>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark menu-btn" href="{% url 'gallery' %}">Photos
              <svg class="svg1">
                <rect class="rect1"></rect>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark menu-btn" href="{% url 'contacts' %}">Contacts
              <svg class="svg1">
                <rect class="rect1"></rect>
              </svg>
            </a>
          </li>
          <li class="language">
            <a href="#">en</a>
            <a href="#">pl</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

</div>
{% endblock%}


{% block main_section %}
    <div class="jumbotron jumbotron-fluid main-animation">
      <div class="container text-center">
        <!-- <h1 class="display-4">{{title}}</h1> -->
        <h1 class="main-h1 mt-5">Your photographer in Europe.</h1>
        <h3  class='main-h3 mt-5'>Hello!  My name is Katya.  I am a professional photographer.  In my work I convey the naturalness and warmth of life.
I help show the world to others.</h3>
        <!-- <p class="lead">Professional color grading and photo retouching</p>
        <p class="lead">Professional worn on photographs</p> -->
        <hr>
        <div class='gifs'>
          <div class="row row-gifs">
            <div class="col-sm-4 col-md-2 box-shadow">
              <img  class='gifs' src="{% static 'kateweb/img/gifs/1.gif' %}" alt="">
            </div>
            <div class="col-sm-4 col-md-2 box-shadow">
              <img class='gifs' src="{% static 'kateweb/img/gifs/2.gif' %}" alt="">
            </div>
            <div class=" col-sm-4 col-md-2 box-shadow">
              <img  class='gifs' src="{% static 'kateweb/img/gifs/3.gif' %}" alt="">
            </div>
            <div class="col-sm-4 col-md-2 box-shadow">
              <img  class='gifs' src="{% static 'kateweb/img/gifs/4.gif' %}" alt="">
            </div>
            <div class="col-sm-4 col-md-2 box-shadow">
              <img  class='gifs' src="{% static 'kateweb/img/gifs/5.gif' %}" alt="">
            </div>
            <div class="col-sm-4 col-md-2 box-shadow">
              <img  class='gifs' src="{% static 'kateweb/img/gifs/6.gif' %}" alt="">
            </div>
          </div>
          <h2 class="main-h2"><a  class="main-h2-a" href="{% url 'process' %}">Photo Processing Examples</a></h2>
        </div>
      </div>
    </div>
    <!-- Карусель большие фото -->
    <div class="container text-center">
      <!-- <h2>I embody your beauty in the frame.</h2> -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'kateweb/img/carousel/1.jpg' %}" alt="shampan">
          </div>

          <div class="item">
            <img src="{% static 'kateweb/img/carousel/2.jpg' %}" alt="Chicago">
          </div>

          <div class="item">
            <img src="{% static 'kateweb/img/carousel/3.jpg' %}" alt="New york">
          </div>

          <div class="item">
            <img src="{% static 'kateweb/img/carousel/4.jpg' %}" alt="New york">
          </div>

          <div class="item">
            <img src="{% static 'kateweb/img/carousel/5.jpg' %}" alt="New york">
          </div>

          <div class="item">
            <img src="{% static 'kateweb/img/carousel/6.jpg' %}" alt="New york">
          </div>

          <div class="item">
            <img src="{% static 'kateweb/img/carousel/7.jpg' %}" alt="New york">
          </div>

          <div class="item">
            <img src="{% static 'kateweb/img/carousel/8.jpg' %}" alt="New york">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <h3 class='text-center'>I like to reflect action and life in my shots. I embody your beauty in the frame.</h3>
    </div>
    <!-- --------------------------------------------------------------------------------------------------------------- -->
    <!-- Альбомы -->

  <hr>
    <div class="container albums text-center">
          <!-- <h2>I embody your beauty in the frame.</h2> -->
                <div class="row blog">
                    <div class="col-md-12">
                        <div id="blogCarousel" class="carousel slide" data-ride="carousel">
<!--                            <ol class="carousel-indicators">-->
<!--                                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>-->
<!--                                <li data-target="#blogCarousel" data-slide-to="1"></li>-->
<!--                                <li data-target="#blogCarousel" data-slide-to="2"></li>-->
<!--                            </ol>-->
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        {% for album in albums_0_3 %}
                                            <div class="col-md-4 mb-1">
                                                <a href="{% url 'album-detail' album.slug %}">
                                                    <img src="{{ album.thumb.url }}" alt="Image" title="{{ album.title }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->

                                <div class="carousel-item">
                                    <div class="row">
                                        {% for album in albums_4_6 %}
                                            <div class="col-md-4 mb-1">
                                                <a href="{% url 'album-detail' album.slug %}">
                                                    <img src="{{ album.thumb.url }}" alt="Image" title="{{ album.title }}">
                                                </a>
                                            </div>
                                        {% endfor %}

                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                                <div class="carousel-item">
                                    <div class="row">
                                        {% for album in albums_7_10 %}
                                            <div class="col-md-4 mb-1">
                                                <a href="{% url 'album-detail' album.slug %}">
                                                    <img src="{{ album.thumb.url }}" alt="Image" title="{{ album.title }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!--.row-->
                                </div>

                                <a class="left carousel-control" href="#blogCarousel" data-slide="prev">
                                  <span class="glyphicon glyphicon-chevron-left  blog-carousel-control-left"></span>
                                  <span class="sr-only blog-carousel-control-left ">Previous</span>
                                </a>
                                <a class="right carousel-control blog-carousel-control" href="#blogCarousel" data-slide="next">
                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                                <!--.item-->

                            </div>
                        </div>
                        <!--.Carousel-->
                    <h2 class="mt-5"><a class="main-h2-a" href="{% url 'gallery' %}">See all albums</a></h2>
                    </div>
                </div>
    </div>
{% endblock %}
